.introContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.logo {
  max-width: 300px;
  width: 80%;
  height: auto;
  border-radius: 8px; /* Depending on logo shape */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
